/* Remove the (often) set default spacing
 * made by the browsers on either html or body.
 *********************************************/
html, body {
    margin: 0;
    padding: 0;
}

/* Generel text properties.
 * Also the background for the entire page.
 *********************************************/

body {
    background: #e0e0e0 url(../images/background.png) repeat scroll left top;
    color: #362f2d;
    font: 90% Arial, sans-serif;
}

/* Headers
 *********************************************/

h1, h2, h3, h4, h6 { color: #309c3f; }

/* Links
 *********************************************/

a { color: #f7941d; }

a:hover, a:focus, a:active {
    color: #8c3a14;
    text-decoration: none;
}

/* Form inputs
 *********************************************/

input, textarea, select {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #bfbfbf;
    border: 0 none;
    border-radius: 4px;

    font: 100% Arial, sans-serif;
    margin: 0.2em 0;
    padding: 0.5em 0.3em;
}

input[name="reason"] { margin-left: 1.4em; }

input:focus, textarea:focus, select:focus {
    background: #888;
    color: #fff;
}

/* Tables
 *********************************************/

table { width: 100%; }

tr:nth-child(even) { background: #eee; }

th {
    font-weight: bolder;
    text-align: left;
}

th, td { padding: 0.5em 1em; }


/* Intended for short information about
 * the page beneth the content header.
 *********************************************/

.info {
    color: #20692a;
    font-style: italic;
    margin: 0 0 2em 1em;
}

/* Buttons
 * Note: configured to work on both inputs
 * and links.
 *********************************************/

.button {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #309c3f url(../images/button.png) repeat-x scroll left top;
    border: 1px solid #20692a;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 0.2em 0;

    padding: 0.5em 1em;
    text-decoration: none;
    width: auto;
}

.button:hover, .button:focus, .button:active {
    background: #37b048 url(../images/buttonHover.png) repeat-x scroll left top;
    color: #ffffff;
}

/* Align content to the right.
 *********************************************/

.right {
    float: right;
    text-align: right;
}

/* Label
 *********************************************/

.label { font-weight: bold; }

/* Should contain all elements on the page.
 *********************************************/

#wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 650px;
    width: 80%;
}

/*Header
 *********************************************/

header { margin: 2.5em 2%; }

header h1 { text-transform: uppercase; }

header h1, header p { margin: 0; }

/* Navigation
 *********************************************/

nav {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #362f2d url(../images/menu.png) repeat-x scroll left top;
    border: 1px solid #0f0d0d;
    border-radius: 8px;

    list-style: none;
    margin: 0;
    padding: 1em 1em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li { display: inline-block; }

nav a {
    color: #fff;
    display: block;
    padding: 0.8em 1em;
    text-decoration: none;
}

nav a:hover, nav a:focus, nav a:active { color: #f7941d; }

nav a.reports, nav a.reportAdd, nav a.login, nav a.logout {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #0F0D0D;

    background-position: 1em center;
    background-repeat: no-repeat;
    border-radius: 6px;
}

nav a.reports {
    background-image: url(../images/report.png);
    padding-left: 2.6em;
}

nav a.reportAdd {
    background-image: url(../images/report_add.png);
    padding-left: 2.6em;
}

nav a.login {
    background-image: url(../images/login.png);
    padding-left: 2.6em;
}

nav a.logout {
    background-image: url(../images/logout.png);
    padding-left: 2.6em;
}

/*
 *********************************************/

#content {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #fafafa;

    border-radius: 8px;
    margin: 1em 0;
    padding: 1em 2%;
}

/* Side-by-side columns that act where one is
 * for main content, meaning it occupies more
 * space, and the other as a sidebar.
 *********************************************/

#mainColumn {
    float: left;
    width: 65%;
}

#sideColumn {
    float: right;
    text-align: right;
    width: 35%;
}

#sideColumn img { max-width: 100%; }

/* Left and right column are go side-by-side
 * splitting the width in half.
 * The bottom column will occupie the entire
 * space in width. But it's written to be
 * able to handle the float problem of
 * the left and right columns being above.
 *********************************************/

#leftColumn, #rightColumn {
    float: left;
    width: 50%;
}

#rightColumn { float: right; }

#bottomColumn {
    clear: both;
    float: none;
}

/* Copyright information
 *********************************************/

footer {
    clear: both;
    float: none;
    font-size: 90%;
    padding: 2em 0 1em;
    text-align: center;
}